    <div class="container">
      <h3 class="mb-4">Registrarse</h3>
      <form name="form" #f="ngForm" style="max-width: 500px;" (ngSubmit)="onRegister()" novalidate>
  
        <div class="form-group">
          <label for="nombre">Nombre Completo:</label>
          <input class="form-control" name="nombre" type="text" placeholder="Juan Reyes Hidalgo" [(ngModel)]="form.nombre" #nombre="ngModel" autocomplete="off" required>
        </div>
  
        <div class="form-group">
          <label for="username">Usuario:</label>
          <input class="form-control" name="username" type="text" placeholder="JUAN-REYES" [(ngModel)]="form.username"
            #username="ngModel" autocomplete="off" required>
        </div>
  
        <div class="form-group">
          <label for="password">Contraseña:</label>
          <input class="form-control" name="password" type="password" placeholder="150204020" [(ngModel)]="form.password" #password="ngModel" required>
        </div>
  
        <div class="form-group">
          <label for="matricula">Matricula:</label>
          <input class="form-control" type="text" name="matricula" maxlength="9" placeholder="150204020" [(ngModel)]="form.matricula" #matricula="ngModel" autocomplete="off" required>
        </div>

        <div class="form-group">
          <label for="carrera">Carrera:</label>
		  <select class="form-control" name="carrera" [(ngModel)]="form.carrera" required>
   			<option *ngFor="let item of listOne">{{item}}</option>
    	  </select>
        </div>

        <div class="form-group">
          <label for="semestre">Correo:</label>
          <input class="form-control" type="text" name="Correo"  placeholder="2" [(ngModel)]="form.Correo" #semestre="ngModel" autocomplete="off" required>
        </div>

       <div class="form-group">
          <label for="grupo">Telefono:</label>
          <input class="form-control" type="text" name="telefono" [(ngModel)]="form.telefono" #grupo="ngModel" autocomplete="off" required>
        </div>

       <div class="form-group">
          <label for="edad">Promedio:</label>
          <input class="form-control" type="text" name="promedio"  [(ngModel)]="form.promedio" #edad="ngModel" autocomplete="off" required>
        </div>

       <div class="form-group">
          <label for="sexo">Grupo:</label>
          <input class="form-control" type="text" name="grupo" [(ngModel)]="form.grupo" #edad="ngModel" autocomplete="off" required>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-3" [disabled]="!f.valid">Crear Cuenta</button>
          <div *ngIf="f.submitted && isRegisterFail" class="alert alert-danger">Fail al crear cuenta: {{ errorMsg }}</div>
        </div>


      </form>
      </div>

